@using Microsoft.AspNetCore.Authorization

@model IEnumerable<BookShop.Models.Book>
@{
    ViewData["Title"] = "Index";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Дата: @DateTime.Now.ToLongDateString()</p>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
